#loginBtn {
   -fx-background-color: lightskyblue;
}

#cancelBtn {
   -fx-background-color: lightred;
}
/*
.poljeIspravno {
    -fx-background-color: yellowgreen;
}
*/
.poljeNijeIspravno{
    -fx-background-color: lightred;
}